@import "./../styles/variables.scss";

.contentChoosing{
    background-color:rgb(228, 220, 220);
    height: 70vh;
    padding:20px 150px;
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    .para{
        padding:20px 0px;
        max-width: 700px;
    }

    .options{
        display:flex;
       
        .card{
          
            max-width: 300px;
            padding:40px 0px;
            margin:10px 10px;
        }
    }

}